<div class="container-fluid">
	<h3 class="mb-3 blackOpacity">Categorias</h3>
	<div class="row">
		{{#each categories}}
				<a class="mr-3" href="/channels-category/channels/{{name}}">
					<img class="categories" src="/img/categories/{{filename}}" alt="Card image cap">
					<div class="card mb-4" style="width: 162px; height:60px; border-radius: 0 0px 3px 3px; background: transparent;">
						<div class="card-body">
							<h5 class="card-title" style="font-size: 12px;">{{name}}</h5>
						</div>
					</div>
				</a>
		{{/each}}
	</div>
</div>