{{#each channel}}
<div class="panelControl">
	<form action="/controlPanelChannel/ControlPanel" class="formPanelControl" method="POST">
		<input type="hidden" name="__method" value="PUT">
		<label for="title">Título</label>
		<input type="search" name="title" id="title" cols="30" rows="10" value="{{title}}">
		<br><br>
		<label for="category">Categoría</label>
		<input type="search" name="category" id="category" value="{{category}}">

		<br><br>
		<input type="submit" value="Actualizar información">
	</form>
</div>
{{/each}}

<div class="contentNano">
	<div id="about" class="nano">
		<div class="content">
			{{#each categories}}
			<button class="btn-category">{{name}}</button>
			{{/each}}
		</div>
	</div>
</div>