<div class="containerMain">hello channel</div>
<div id="player" style="width:600px;height:450px;margin:0 auto;text-align:center"></div>
<script>
	$f("player", "http://releases.flowplayer.org/swf/flowplayer-3.2.16.swf", {
		clip: {
			url: 'rtmp://localhost:1935/live/{{id}}',
			live: true,
			scaling: 'fit',
			provider: 'influxis'
		},

		plugins: {
			influxis: {
				url: "flowplayer.rtmp-3.2.13.swf",

				netConnectionUrl: 'rtmp://localhost:1935/live/{{id}}'
			}
		}
	});
</script>
