* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Arial', sans-serif;
	color:#fff;
	background: #1B1D35;  /* fallback for old browsers */
}

a {
	text-decoration: none;
	color:#B8711B;
}

a:hover {
	text-decoration: underline;
}

/* HEADER */
header {
	background: #4e4376;
	width: 100%;
	height: 50px;
	font-weight: 500;
}

header nav {
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

header .menu a {
	margin-right: 15px;
}

li.dropdown {
	display: inline-block;
}

header li a, .dropbtn {
	display: inline-block;
	text-align: center;
	padding: 10px;
	text-decoration: none;
}
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 160px;
	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	z-index: 1;
  }
  
.dropdown-content a {
	color: black;
	/* padding: 12px 16px; */
	text-decoration: none;
	display: block;
	text-align: left;
}
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
	display: block;
	margin-left: 30px;
	border-radius: 4px;
}

header nav .menu.izq a {
	margin-left: 20px;
	height: 100%;
}

header .der {
	width: 200px;
}

header input[type="search"] {
	width: 300px;
	padding: 6px;
	font-size: 14px;
	display: inline-block;
	border: none;
	border-radius: 0 3px 3px 0;
}

header .icono.izquierda {
	margin-top: 6px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

header .menu .icono {
	padding: 5px;
	text-align: center;
	width: 30px;
	font-size: 18px;
	line-height: 18px;
	background: #fff;
	display: inline-block;
	color:#444;
	vertical-align: top;
}

.containerMain {
	width: 100%;
	margin: auto;
}

.containerMain .panelControl .formPanelControl {
	width: 300px;
	background: #fff;
	padding: 30px;
	margin-bottom: 30px;
	margin: auto;
}

.containerLogin {
	max-width: 500px;
	width: 90%;
	margin: auto;
}

.aside {
	margin: 0px;
	width: 170px;
	background: #000;
	color: #fff;
	overflow: hidden;
}

.titulo {
	font-weight: 300;
	color: #F09819;
	text-align: center;
	margin: 60px 0 30px 0;
}

.border {
	border:none;
	margin-bottom: 5px; 
	border-top:10px solid #F09819;
	background: none;
	color:none;
}

/* Formularios */

.formulario {
	background: #2b5876;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 30px;
	margin-bottom: 30px;
}

.formulario .form-group {
	width: 100%;
	margin-bottom: 10px;
}

.formulario input[type="text"],
.formulario input[type="password"] {
	padding: 16px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 19px;
	border: none;
	vertical-align: top;
}

.formulario .icono {
	padding: 16px;
	text-align: center;
	width: 48px;
	font-size: 18px;
	line-height: 19px;
	background: #c8c8c8;
	display: inline-block;
	color:#6b6b6b;
	vertical-align: top;
}

.formulario .icono.izquierda {
	margin-right: 4px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.formulario .usuario,
.formulario .email,
.formulario .password {
	width: calc(100% - 52px);
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.formulario .password_btn {
	width: calc(100% - 105px);
}

.formulario .error ul {
	padding: 0 15px;
}

.formulario .error ul li {
	margin-bottom: 10px;	
}

.formulario .submit-btn {
	padding: 16px;
	text-align: center;
	width: 48px;
	font-size: 18px;
	line-height: 19px;
	background: #679863;
	display: inline-block;
	color:#fff;
	background: #769766;
	cursor: pointer;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.texto-registrate {
	text-align: center;
}

.texto-registrate a {
	display: block;
	font-size: 18px;
}


