{{#if success_msg}}
	<div id="success_msg">
		{{success_msg}}
		<button type="button" class="icono"><i class="fa fa-times"></i></button>
	</div>
{{/if}}

{{#if error_msg}}
	<div id="error_msg">
		{{error_msg}}
		<button type="button" class="icono"><i class="fa fa-times"></i></button>
	</div>
{{/if}}