<div class="alert alert-success alert-dismissible fade show" id="successMessageAvatar" style="display:none;" role="alert">
	Sus datos han sido actualizados correctamente.
	<button type="button" class="close" id="btn-successAjaxAvatar" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>