<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Project app</title>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/main.css" id="styles">
	<link rel="stylesheet" href="/css/scroll.css">
	<script src="http://releases.flowplayer.org/js/flowplayer-3.2.12.min.js"></script>
</head>
<body>
	<header>
		{{> navigation }}
	</header>
	<main class="containerMain">
		{{> successAjax}}
		{{> messages }}
		{{> errors }}
		{{{ body }}}
	</main>
	</div>

	<footer>Footer</footer>
	<script src="/js/jquery-3.3.1.js"></script>
	<script src="http://releases.flowplayer.org/js/flowplayer-3.2.12.min.js"></script>
	<script src="/js/nanoScroller.min.js"></script>
	<script src="/js/usingScroll.js"></script>
	<script src="/js/ajaxCategories.js"></script>
</body>
</html>