<div>hola usuario este es tu perfil de configuración</div>

<form action="/users/profile" method="POST" enctype="multipart/form-data">
	<input type="file" name="avatarProfile">
	<button type="submit">
		Upload
	</button>
</form>