<div class="containerLogin">
	<h1 class="titulo">Iniciar Sesión</h1>
	<hr class="border">

	<form action="/users/signin" method="POST" class="formulario" name="signin">
		<div class="form-group">
			<i class="icono izquierda fa fa-envelope"></i><input type="text" name="email" class="email"
				placeholder="Email">
		</div>

		<div class="form-group">
			<i class="icono izquierda fa fa-lock"></i><input type="password" name="password" class="password_btn"
				placeholder="Contraseña">
			<i class="submit-btn fa fa-arrow-right" onclick="signin.submit()"></i>
		</div>
	</form>

	<p class="texto-registrate">
		¿ Aun no tienes cuenta ?
		<a href="signup">Regístrate</a>
	</p>
</div>